@mixin my_span_line ($foiz: 50%, $color: #FBC400) {
    display: flex;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    position: relative;
    background-color: #F2F6FA;

    &::before {
        content: '';
        width: $foiz;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: $color;
        border-radius: 50px;
    }
}

@mixin my_input {
    outline: none;
    border: none;
    font-family: 'my_font';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 16px;
    color: $my_dark;
    background: #F2F6FA;
    border: 1px solid rgba(4, 28, 53, 0.1);
    border-radius: 4px;

    a {
        font-family: 'my_font';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $my_dark;
    }
}
