section.aboute {
  position: relative;
}

.my_carousel_indicator {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 -3px;
    margin: 0 20px;

    li {
      display: flex;
      width: 15px;
      height: 2px;
      border-radius: 2px;
      background-color: #5C7690;
      opacity: 0.3;
      margin: 0 3px;

      &.active {
        opacity: 1;
      }
    }
  }
}

.my_carousel_item {
  position: relative;
  padding-top: 88px;
}

.my_carousel_item_body {
  position: relative;
  z-index: 10;
}

.my_carousel_item_video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 40px;
  @media (max-width: 991px) {
    display: none;
    visibility: hidden;
  }
}


.aboute {
  .carousel {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

  .video_show {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    video {
      display: flex;
      position: relative;
      width: 50%;
      height: 95%;
      margin-top: 5%;
      object-fit: cover;
      transition: 0.5s;

      opacity: 0;
      visibility: hidden;
    }
  }

  &.video_play {
    .carousel {
      visibility: hidden;
      opacity: 0;
    }

    .video_show {
      opacity: 1;
      visibility: visible;

      video {
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}