
.button_go {
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    img {
      animation-name: view_button_ic;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
  }
}

@keyframes view_button_ic {
  0% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px);
  }
}